.boxBtn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  .btn {
    font-weight: 700;
    font-size: 18px;
    color: var(--white);
    line-height: 128%;
    background-color: var(--btn-bg);
    border-radius: 100px;
    padding: 17px 8px;
    max-width: 271px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 7px;
  }

  .descrSpins {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--text-input);
  }
}

.box {
  display: grid;
  place-items: center;
  overflow: hidden;
  width: 100%;
  margin-bottom: 85px;
}

.deal_wheel {
  --size: clamp(370px, 80vmin, 571px);
  --lg-hs: 0 3%;
  --lg-stop: 50%;
  --lg: linear-gradient(
    hsl(var(--lg-hs) 0%) 0 var(--lg-stop),
    hsl(var(--lg-hs) 20%) var(--lg-stop) 100%
  );
  position: relative;
  display: grid;
  align-items: center;
  grid-template-areas:
    "spinner"
    "trigger";
  font-size: calc(var(--size) / 21);
  transform: rotate(90deg);

  .centreImg {
    width: 71px;
    height: 71px;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
  }
}

.deal_wheel > * {
  grid-area: spinner;
}

/* сектор колеса */
.spinner {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-areas: "spinner";
  width: var(--size);
  height: var(--size);
  transform: rotate(calc(var(--rotate, 25) * 1deg));
  border-radius: 50%;
}

.spinner * {
  grid-area: spinner;
}

/* текст на секторах */
.prize {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 calc(var(--size) / 8) 0 calc(var(--size) / 30);
  /* устанавливаем размеры */
  width: 50%;
  height: 50%;
  /* устанавливаем координаты, относительно которых будем вращать текст */
  transform-origin: center right;
  /* поворачиваем текст */
  transform: rotate(var(--rotate));
  /* запрещаем пользователю выделять мышкой текст на секторах */
  user-select: none;

  .boxPrize {
    position: absolute;
    transform: rotate(270deg);
    padding-top: 60px;
    padding-left: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;

    .img {
      width: 60px;
      height: 46px;
      margin-bottom: 7px;
    }

    .descr {
      display: flex;
      align-items: flex-start;
      text-align: center;
      max-width: 40px;
      color: var(-white);
      font-weight: 400;
      font-size: 8px;
    }
  }
}

.pointer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;

  .topArrow {
    transform: rotate(-90deg);
  }
}

/* анимация вращения */
.is_spinning .spinner {
  transition: transform 8s cubic-bezier(0.1, -0.01, 0, 1);
}

.svg {
  transform: rotate(220deg);
  width: 90%;
  height: 90%;
}
