.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
  &.fade {
    transform: translateX(0);
  }
}
