.box {
  max-width: 576px;
  width: 100%;

  .title {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 15px;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    margin-bottom: 85px;

    .item {
      display: flex;
      position: relative;
      flex: 1 1 calc(33.333% - 7.5px);
      width: 100%;

      .emptySlots {
        width: 100%;
        background-color: var(--bg-elements);
        border-radius: 10px;
      }

      .descr {
        position: absolute;
        bottom: 29px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 12px;
      }

      .descrInfo {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 400;
        font-size: 10px;
        color: var(--text-top);
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
}

.boxInfo {
  width: 294px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 23px;

  .titleInfo {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
  }

  .imgWinner {
    // width: 140px;
    // height: 140px;
    margin-bottom: 30px;
  }

  .descrInfo {
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 10px;
    color: var(--text-input);
  }

  .boxCopy {
    border: 1.36px solid var(--text-dep);
    border-radius: 14px;
    background: var(--bg-dep);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    color: var(--white);

    .title {
      text-align: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 128%;
      margin-right: 8px;
    }
  }

  .btn {
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 128%;
    background-color: var(--btn-bg);
    color: var(--white);
    padding: 12px 24px;
  }
}

.loader {
  width: 100%;
}
