.list {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;

    .item {
        margin-bottom: 15px;

        .title {
            font-weight: 600;
            font-size: 22px;
            margin-bottom: 15px;
        }

        .listCard {
            display: flex;
            flex-wrap: wrap;
            gap: 27px;
            align-items: center;
            justify-content: center;

            .itemCard {
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 104px;
                max-height: 104px;
                padding: 14px 24px;
                background-color: var(--bg-elements);
                border-radius: 16px;

                .img {
                    border-radius: 10px;
                    max-width: 56px;
                    max-height: 56px;
                    margin-bottom: 5px;
                }

                .descr {
                    font-weight: 600;
                    font-size: 15px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}