.casino {
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
  &.fade {
    transform: translateX(0);
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    margin: 0px 17px 24px;
    background-image: url("../../assets/png/wheelBonus.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .info {
      padding: 20px;

      .title {
        font-weight: 900;
        font-size: 20px;
        line-height: 120%;
        margin-bottom: 3px;
      }

      .text {
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: #9ca3af;
      }
    }

    .btn {
      margin-right: 17px;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
    }
  }
}

@media (max-width: 425px) {
  .casino {
    .box {
      .info {
        .title {
          font-size: 14px;
        }
      }

      .btn {
        font-size: 12px;
        padding: 8px 12px;
      }
    }
  }
}
