.box {
  padding: 0 15px;
  margin-bottom: 135px;

  .boxAi {
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(124deg, #303571 0%, #9094a0 100%);
    position: relative;
    width: 100%;
    margin-bottom: 25px;

    .bonusAi {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    .spanAi {
      color: var(--text-free);
      background-color: var(--bg-free);
      border-radius: 8px;
      padding: 3px 7px;
      font-weight: 590;
      font-size: 12px;
      margin-bottom: 10px;
    }
  }

  .boxReferall {
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(124deg, #3a3434 0%, #a09090 100%);
    position: relative;
    width: 100%;
    margin-bottom: 25px;

    .bonusReferal {
      position: absolute;
      bottom: 0;
      right: 25px;
    }

    .spanRef {
      color: var(--text-uniq);
      background-color: var(--bg-uniq);
      border-radius: 8px;
      padding: 3px 7px;
      font-weight: 590;
      font-size: 12px;
      margin-bottom: 10px;
    }
  }

  .descr {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: var(--white);
    text-align: start;
    z-index: 10;
  }

  .svg {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .boxSetting {
    .title {
      font-weight: 700;
      font-size: 20px;
      line-height: 140%;
      margin-bottom: 16px;
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .item {
        background-color: var(--bg-elements);
        border-radius: 16px;

        .btn {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding: 20px;
          
          .infoBox {
            text-align: start;
            .titleInfo {
              font-weight: 700;
              font-size: 16px;
              line-height: 150%;
              color: var(--white);
            }

            .descrInfo {
              max-width: 190px;
              font-weight: 400;
              font-size: 12px;
              line-height: 133%;
              color: var(--text-input);
            }
          }
        }
      }
    }
  }
}

.modalBox {
  .modalTitle {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .modalText {
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-input);
    margin-bottom: 15px;
  }
}
