.box {
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  background-color: var(--bg-elements);
  margin: 0 15px;
  border-radius: 20px;
  margin-bottom: 30px;

  .img {
    max-width: 62px;
    max-height: 62px;
    width: 100%;
    height: 100%;
    margin-right: 20px;
    border-radius: 100px;
  }

  .boxName {
    .title {
      font-weight: 700;
      font-size: 20px;
      line-height: 120%;
    }
  }
}
