.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 85px;
  padding-left: 30px;
       

  .title {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 32px;
  }

  .list {
    margin-bottom: 40px;
    display: flex;
    width: 100%;
     padding-right: 30px;

    .item {
      position: relative;

      .boxInfo {
        background-color: var(--bg-elements);
        border-radius: 16px;
        padding: 20px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .countInfo {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-color: var(--bg-dep);
          color: var(--text-dep);
          border-radius: 8px;
          padding: 3px 7px;
          margin-bottom: 11px;
        }

        .svg path {
          fill: var(--text-dep);
        }

        .titleInfo {
          font-weight: 700;
          font-size: 24px;
          line-height: 100%;
        }

        .descrInfo {
          font-weight: 700;
          font-size: 14px;
          line-height: 171%;
        }
      }
    }
  }

  .btn {
    font-weight: 700;
    font-size: 18px;
    color: var(--white);
    line-height: 128%;
    background-color: var(--btn-bg);
    border-radius: 100px;
    padding: 17px 8px;
    max-width: 271px;
    margin: 0 auto;
    width: 100%;
  }
}
