.box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  backdrop-filter: blur(100px);
  background: rgba(0, 0, 0, 0.5);

  .boxImg {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 15px;

    .positionBlock {
      position: relative;

      .boxInfo {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);

        .title {
          font-weight: 700;
          font-size: 20px;
          line-height: 120%;
          margin-bottom: 5px;
        }

        .text {
          font-weight: 400;
          font-size: 12px;
          line-height: 133%;
          color: var(--text-input);
        }
      }
    }
  }
}
